# Compiled Object files
*.slo
*.lo
*.o
*.class

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Auxiliary Files from Flex/Bison
scanner.c scanner.o parser.c parser.o parser.h parser
/2/pacote/Projeto 2/nbproject/private/
